@media screen and (max-width: 1366px) {
	.identity {
   		top: 50px;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.4em;
	}
	.projects p {
    	font-size: 1.3em;
	}
	header li a {
		font-size: 13px;
	}
	.info_more {
	    font-size: 13px !important;
	}
	.center_header {
		top: 150px;
	}
}

@media screen and (max-width: 1365px) {
	.animation-element.slide-left {
		display: none;
	}
	.navbar {
		padding: 0px 10px;
	}
}

@media screen and (max-width: 1200px) {
	.portfolio img {
		padding-left: 1.5em;
		padding-right: 1.9em;
	}
	.main_nav {
		padding-left: 15px;
	}
	.social_nav {
		padding-right: 15px;
	}
	.about_box {
		width: 600px;
		margin-left: 30px;
	}
	.about_text {
		width: 100%;
	}
	.about_text img {
		width: 300px;
	}
	.col-3 {
		width: 50%;
	}
}

@media screen and (max-width: 1000px) {
	.about_me {
	    height: 440px;
	}
	.projects {
		width: 100%;
		text-align: center;
	}
	.projects .float-l,
	.projects .float-r {
		float: none;
	}
	.text_wrap {
		text-align: center;
	}
	.about_me .float-l {
		float: none;
		clear: both;
	}
	.about_box {
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	.about_box:after {
		display: none;
	}
	.my_photo img {
		width: 130px;
	}
	#contact_form,
	footer {
		width: 100%;
	}
	footer {
		margin-top: 0px;
	}
}

@media screen and (max-width: 850px) {
	
	#about h1 {
		margin-top: 35px;
	}
	.resume {
		display: block;
		position: relative;
		top: 60px;
	}
}

@media screen and (max-width: 700px) {
	header {
		background: url("../img/background2-resp.png") center 0px no-repeat;
		background-size: cover;
	}
	header li a {
		font-size: 12px;
	}
	.center_header {
		top: 110px;
		clear: both;
	}
	.center_header h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 1.4em;
	}
	.col-3 {
		width: 100%;
	}
	.card {
		height: 150px;
	}
	.card img {
		top: 10px;
	}
	.skills_cards {
	    margin-top: 30px;
	}
}

@media screen and (max-width: 600px) {
	#about {
		height: 730px;
	}
	.resume {
		top: 100px;
	}
	.projects {
		padding: 30px;
	}
	#bearing img {
		width: 200px;
	}
}


@media screen and (max-width: 500px) {
	.projects {
		padding: 30px;
	}
	.social_nav {
		margin-bottom: 0px;
	}
	.my-logo {
		width: 70px;
	}
	.hamburger {
		margin-top: 25px !important;
	}
	.main_nav {
		display: block;
		padding-left: 0px;
		margin-top: 15px !important;
	}
	.main_nav li a {
		font-size: 11px;
	}
	.down_line {
		height: 50px;
	}
	#about {
		position: relative;
		height: auto;
	}
	.about_me {
		height: auto;
	}
	.about_box {
		font-size: 17px;
	}
	#contact_form form {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
	}
	#contact_form input,
	#contact_form textarea {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.navbar {
		height: 55px;
	}
	.main_nav {
		text-align: center;
	}
	.menu li:last-child {
		padding-right: 0px;
	}
	.resume {
		top: 98px;
    	left: 0px;
        position: absolute;
    }
}

@media screen and (max-width: 500px) {

	.main_nav li a {
	    font-size: 10px;
	}
}