html {
	box-sizing: border-box;
}

* {
	margin: 0px;
	padding: 0px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.clear:before,
.clear:after,
header:before,
header:after,
.container:before,
.container:after {
	content: " ";
	display: table;
}
header:after,
.clear:after,
.container:after {
	clear: both;
}
header:after,
.clear:after,
.container {
	*zoom: 1;
}

body {
	margin: 0;
	color: #000;
	background: #fff;
	font-size: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.container {
	max-width: 1200px;
	display: block;
	margin: 0 auto;
}

h1 {
	margin: 0px;
	font-size: 26px;
	color: #3a3934;
	text-transform: uppercase;
	text-align: center;
    font-family: 'Kalam', cursive;
}

.h1-alt {
	color: #fff;
	display: inline-block;
	margin-top: 50px;
}

h2 {
	text-align: center;
	color: #3a3934;
    font-family: 'Comfortaa', cursive;


}

.green-h2 {
	color: #89cd7f;
	font-size: 20px;
}

/*** NAVIGATION ***/

header {
	background-color: #000 !important;
	background: url("../img/background2.jpg") center 0px no-repeat;
	background-size: cover;
	min-height: 100%;
	min-height: 100vh;
	width: 100%;
	position: relative;
	text-align: center;
}

/* PAGE 2 HEADER */

.port {
	background-color: #000 !important;
	background: url("../img/port-bg.png") center 0px no-repeat;
	background-size: cover;
	min-height: 130px;
	width: 100%;
	position: relative;
	text-align: right;
}


.navbar {
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.5);*/ 
	 -webkit-transition-duration: 1s; 
	 transition-duration: 1s;
	    z-index: 999;
}

header li,
header li a {
	text-decoration: none;
	list-style: none;
	color: #fff;
	z-index: 1000;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-transition-duration: .7s;
	transition-duration: .7s;
}

header li a:hover {
	color: #2E2E2E;
	-webkit-transition-duration: .7s;
	transition-duration: .7s;
}

header h2 {
	color: #fff;
}

.main_nav,
.social_nav {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	z-index: 999;
}

.main_nav li {
	display: inline-block;
	padding-right: 20px;
}

.social_nav li {
	float: left;
	padding-left: 10px;
}

.my-logo {
	width: 100px;
}

/*.fixed {
	position: fixed;
	-o-transition-duration: 1s; 
    -moz-transition-duration: 1s; 
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    height: 60px;
}*/

/*PUSH MENU*/

.pushmenu { /*this is the nav*/
  background: #2e2e2e;
  font-family: Arial, Helvetics, sans-serif;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position:fixed;
}

.pushmenu h3 {
  color: #cbbfad;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0;
  background: #282522;    
  height: 16px;
}

.pushmenu a {
  display: block; /* drops the nav vertically*/
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #7d7d7d;
  padding: 25px;
}

.pushmenu a:hover {
  background:#87d37c;
}

.pushmenu a:active {
  background: #87d37c;
  color: #2e2e2e;
}

.pushmenu-left {
  left: -240px;

}

.pushmenu-left.pushmenu-open {
  left: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
  float: left;
}

.pushmenu-push-toright {
  left: 240px;
}

.nav_photo img {
	display: block;
	margin: 30px auto 0px;
	border-radius: 50%;
	max-width: 150px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

#nav_list {
  background: url("../img/ham_menu.png") no-repeat left top;
  cursor: pointer;
  height: 27px;
  width: 33px;
  text-indent: -99999em;
}

nav-list.active {
  background-position: -33px top;
}

 section.content {
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 20px;
 }

/*** CENTER TEXT ***/

.center_header {
	text-align: center;
	color: #fff;
	position: relative;
	top: 290px;
}

.center_header h1 {
	text-transform: uppercase;
	font-size: 55px;
	color: white;
}

/*.center_header span {
	background-color: #000;
	padding: 10px 15px;
}*/

.down_line {
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	height: 85px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.scroll-down {
	display: block;
	width: 30px;
	margin: 0 auto;
	position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
}

/*** ABOUT ***/ 

#about {
	background: url("../img/form_bg.png") center;
	height: 670px;
	text-align: center;
}

#about h1 {
	margin-top: 90px;
}


.about_me {
	height: 400px;
}

.about_box {
	width: 680px;
	background-color: #fff;
	font-size: 19px;
	padding: 20px;
	color: #3a3934;
	position: relative;
	top: 60px;
}

.about_box:after {
	content:"\A";
	position: absolute;
	vertical-align: middle;
	display: inline-block;
	right: -40px;
	top: 75px;
	border-style: solid;
	border-width: 40px 0 40px 40px;
	border-color: transparent transparent transparent #ffffff;
}

.my_photo img {
	border-radius: 50%;
	position: relative;
	top: 69px;
}

.resume a {
	text-decoration: none;
	color: white;
	padding: 15px;
	background-color: #3a3934;
	font-size: 17px;
	-webkit-transition-duration: .7s;
	transition-duration: .7s;
}

.resume a:hover {
	background-color: #545454;
	-webkit-transition-duration: .7s;
	transition-duration: .7s;
}

/***ZAMERANIE***/

.about_text {
	width: 50%;
	padding-right: 20px;
	padding-left: 20px;
}

.about_text:last-child {
	padding-left: 20px;
	padding-right: 20px;
}

.web_design {
	background: #e9f8ff;
	padding-bottom: 50px;
	border-left: 25px solid white;
	border-right: 25px solid white;
	margin-top: 30px;
}

.eshop {
	background: #d4f6d8;
	padding-bottom: 50px;
	border-left: 25px solid white;
	border-right: 25px solid white;
	margin-top: 30px;
}

#bearing {
	margin-top: 90px;
}

#bearing h2 {
	padding: 0px 0px 50px 0px;
	text-align: center;
}

.lines {
	text-align: center;
	border: 0px;
	display: block;
}

 .lines:before {
    content: "\A";
    position: relative;
    vertical-align: middle;
    display: inline-block;
    right: 25px;
    border-style: solid;
    border-width: 1px 0px 1px 50px;
    color: #3a3934;
}

.lines:after {
    content: "\A";
    position: relative;
    vertical-align: middle;
    display: inline-block;
    left: 25px;
    border-style: solid;
    border-width: 1px 0px 1px 50px;
    color: #3a3934;
}

/*#bearing h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	color: #3a3934;
	padding: 20px 0px;
	text-align: center;
}*/

#bearing img {
	display: block;
	margin: 0 auto;
	width: 300px;
}

#bearing p {
	text-align: center;
	padding: 20px 0px;
	font-size: 18px;
	color: #3a3934;
}


/*** SKILLS ***/

.skills_cards {
	margin-top: 40px;
}

#skills {
	margin-top: 40px;
	background: url("../img/form_bg.png") center;
	padding-bottom: 30px;
}

#skills h1 {
	margin-top: 90px;
}

.col-3 {
	width: 33.33%;
	padding: 15px;
}


.card {
	height: 200px;
	background-color: #fff;
}

.card img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 50px;
	width: 100px;
}

.html { background-color: #e55d5d; }
.css { background-color: #908dc1; }
.jvs { background-color: #debb43; }
.ps { background-color: #7dc691; }
.resp { background-color: #70c1d4; }
.word { background-color: #d98e66; }


.html_dark { background-color: #c43434; }
.css_dark { background-color: #545189; }
.jvs_dark { background-color: #b7941d; }
.ps_dark { background-color: #518b62; }
.resp_dark { background-color: #428e9e; }
.word_dark { background-color: #aa5f37; }

.info_box p {
	color: #fff;
	padding: 10px;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.info_more {
	font-size: 15px;
}


/*** PORTFOLIO ***/

#top #portfolio {
	margin: 90px 0px 30px 0px;
}

.portfolio_list li {
	list-style: none;
    text-align: left;
    border: 1px solid #666;
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    font-size: 1.2em;
    background: #666;
	color: white;
	cursor: context-menu;
	font-weight: 400;
}

#portfolio h3 {
	color: #595959;
	font-size: 1.7em;
	display: inline-block;
	padding: 5px 15px;
	border-left: 2px solid #595959;
	-webkit-transition-duration: 0.7s;
	        transition-duration: 0.7s;
}

#portfolio h3:hover {
	color: #CB6565;
	-webkit-transition-duration: 0.7s;
	        transition-duration: 0.7s;
}

.projects {
	padding: 50px;
	margin-top: 15px;
	width: 50%;
	float: left;
}

.projects p {
	font-size: 1.4em;
	padding-top: 15px;
	font-weight: 500;
	color: #595959;
}

.text_wrap {
	text-align: left;
	padding-bottom: 25px;
}

.clona {
	background-color: rgba(234, 234, 234, 1);
}

.prelink {
	z-index: 999;
	width: 30px;
	position: absolute;
	top: -78%;
	right: -4%;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}

.prelink:hover {
	opacity: .7;
}

.more-port {
	text-align: center;
}

.more-port button {
	text-align: center;
	background-color: #fff;
	border: 1px solid #DDDDDD;
	color: #656565;
	padding: 10px;
	width: 150px;
	font-size: 18px;
	margin-top: 20px;
}

/*** CONTACT FORM ***/

#contact_form {
	padding-bottom: 30px;
	margin-top: 30px;
	width: 50%;
	height: 500px;
	background: url("../img/form_bg.png") center;
	float: left;
}

#contact_form h1 {
	padding-top: 40px;
	margin-bottom: 10px;
	color: #515151;
	text-align: center;
}
#contact_form h2 {
	color: #515151;
	font-size: 21px;
}

form {
	width:459px;
	margin:0 auto;
}

label {
	display:block;
	margin-top:10px;
	letter-spacing:2px;
	color: #515151;
	font-weight: 600;
	font-size: 17px;
}

input, textarea {
	width: 100%;
	height: 40px;
	border: 1px solid #D0D0D0;
	padding: 5px 10px;
	margin-top: 8px;
	font-size: 16px;
	color: #515151;
}

input:focus, textarea:focus {
		border:2px solid #97d6eb;
	}

textarea {
	height:200px;
}

#mybtn {
	background:#515151;
	height:38px;
	border:none;
	display: block;
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
	cursor:pointer;
	color: #fff;
	font-weight: 400;
}

#submit:hover {
	opacity:0.9;
}



/*** FOOTER ***/

footer .logo {
	padding-top: 100px;
}

footer {
	background: url("../img/footer_bg.png") center;
	height: 500px;
	width: 50%;
	float: right;
	margin-top: 30px;
}

footer p {
	text-align: center;
	color: #fff;
	font-size: 2em;
	padding-top: 50px;
}

footer img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}

footer .logo img {
	border-radius: 50%;
}

.tel {
	text-align: center;
	font-size: 15px;
	padding-top: 30px;
}

footer a img:hover {
	opacity: .7;
}



/*** ANIMATION ***/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-center {
  opacity: 0;
  -webkit-transition: all 700ms linear;
  transition: all 700ms linear;
  -webkit-transform: translate3d(0px, 50px, 0px);
  transform: translate3d(0px, 50px, 0px);
}

.animation-element.slide-center.in-view,
.animation-element.slide-center.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}



/* 
 PORTFOLIO
*/

.filter-buttons {
	text-align: center;
	padding: 40px 0px;
	background: #fff;
}

.filter-buttons li {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #7d7d7d;
	font-family: "Open sans";
	font-weight: 400;
	font-size: 14px;
}

.column-3 {
	width: 33.33%;
	float: left;
}

.item-port {
	overflow: hidden;
}

#page-2 .active {
	background: #7c7d7b;
	color: white;
	padding: 10px 20px;
}

/*
 PODSTRANKY PORTFOLIO
 */

 .padding-top {
 	padding-top: 40px;
 }

 .gotosite button {
 	text-align: center;
 	display: block;
 	margin: 0px auto;
 	background: #fff;
 	border: 1px solid #DDDDDD;
 	color: #656565;
    padding: 10px;
    width: 150px;
    font-size: 18px;
 }

 /*
 BACK TO TOP
 */

.back-to-top {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 10;
    display: block;
    opacity: .50;
}

.back-to-top:hover,
.back-to-top:focus {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}